h1 {
    color:black;
    font-family:verdana;
    font-size:200%;
	}

label{
	letter-spacing: 2px;
	padding: 5px;
	}

input,select{
    left: 120px;
	}

table,th,td {
	border: 1px solid black;
	}

